footer {
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: black;
}

footer a {
  padding: 2em;
  color: white;
  text-decoration: none;
}
h3 {
    text-align: center;
  }
  h6 {
    text-align: center;
  }
  #header-and-btns-div {
    text-align: center;
    background-color: transparent;
  }
  #foot{
    text-align: center;
    background-color: transparent;
  }
  #carouselExampleIndicators{
    height: 100%;
    width: 100%;
  }
  #main{
    background-color: transparent;
  }
  #nav-header{
    background-color: transparent;
  }

  .instagram-grid {
    width: 100%;
    background-color: black;
  }

  .instagram-grid::after {
    content: "";
    display: table;
    clear: both;
  }